
.services {
    width: 100%;
    display: flex;
    margin: 0;
    justify-content: space-around;
}

.card{
    width: 38%;
    text-align: center;
    box-shadow: 0 0 3px black;
    margin:2rem;
    font-size: 1rem;

}
.serviceImg{
    width: 60%;
    margin:auto;
    
    

}
.btnBox{
    margin-top:1rem;
    
}
.btnLearn{
    align-items: center;
    width: 120px;
    height:50px;
    border-radius: 80px;

}
@media screen and (max-width:1024px) {
    .services{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .card{
        width: 80%;
        margin-bottom: 2em;
        margin-right: 1em;
    
    }
    .serviceImg{
        width:40%;
        height: auto;
    
    
    }

    
}